DASHING_AUTH_TOKEN=xxxx

INSTAGRAM_CLIENT_ID=xxx

TWITTER_CONSUMER_KEY=xxx
TWITTER_CONSUMER_SECRET=xxx
TWITTER_ACCESS_TOKEN=xxx
TWITTER_ACCESS_TOKEN_SECRET=xxx

GIT_TOKEN=xxx
GIT_OWNER=makehackvoid
GIT_PROJECT=govhack2014

TRAVIS_AUTH_TOKEN=xxxx
TRAVIS_REPO=makehackvoid/govhack2014

