// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #000;

// ----------------------------------------------------------------------------
// Widget-comment styles
// ----------------------------------------------------------------------------
.widget-instadash {

  padding: 0 !important;

  background-color: $background-color;

  .photo-container {
    display: none;
  }

}